@import "tailwindcss";


@theme {
    --color-platinum: #E3E0DF;
    --color-taupe_grey: #9F9D9C;
    --color-night: #00100B;
    --color-white_smoke: #F6F4F4;
    --color-whisper: #EBEAEA;
    --color-slate_gray: #6C757D;
    --color-outer_space: #495057; /* a little more darker than the slate gray */
    }